<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thymeleaf Demo</title>
</head>

<body>

Hello World of Spring!

<br><br>

Student name: <span th:text="${param.studentName}" />


<span th:text="${messageName}" />

<br><br>
Password:  <span th:text="${param.password}" />


<span th:text="${messagePassword}" />
<br><br>


Is your password valid?  <span th:text="${message}" />
<br><br>


 <span th:text="${welcome}" />
 <span th:text="${uuid}" />



</body>

</html>







